PORT=5000
DB_HOST=127.0.0.1
DB_USER=root
DB_PASS=
DB_NAME=kuwenta_db
DB_PORT=3306
JWT_SECRET=replace_with_a_long_random_string_in_production_123
JWT_REFRESH_SECRET=replace_with_another_long_random_string_in_production_456
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
